<body>
	
 <div id="masthead">
	 <img src="https://et710.com/website/jm/ozoneparkimages/logo.png" class="logo" height="100px" alt="logo">
	 
	 
<h1>Ozone Park|The Community Hub</h1>
	 
	</div><!--closing div for masthead-->
	
	<div id="navbar">
		
	<ul id="navbarul">
		<li><a class="active" href="javascript:void(0)" [routerLink]="['/']">HOMEPAGE</a>
		
  		<li><a href="javascript:void(0)">SIGHTS</a>
			<ul>
			<li><a [routerLink]="['/geography']">Geography/Location</a></li>
        	<li><a [routerLink]="['/landmarks']">"Landmarks</a></li>
        	<li><a [routerLink]="['/activities']">Activities</a></li>
			</ul>
		</li>
		
		<li><a href="javascript:void(0)">COMMUNITY</a>
			
			<ul>
        	<li><a [routerLink]="['/housing']">Housing</a></li>
			<li><a [routerLink]="['/demographic']">Demographic</a></li>
      		</ul>
		</li>
		
		<li><a href="javascript:void(0)">PLACES</a>
			<ul>
			<li><a [routerLink]="['/parks']">Parks</a></li>
			<li><a [routerLink]="['/schools']">Schools</a></li>
        	<li><a [routerLink]="['/shoppinganddining']">Shopping & Dining</a></li>
      			</ul>
		</li>
		
		<li><a [routerLink]="['/transportation']">TRANSPORTATION</a></li>
		
		<li><a [routerLink]="['/contactus']">CONTACT US</a></li>
			
	</ul>	
		
			
 </div><!--closingdiv for nav-->