	<div id="container">
	<div id="content">
		<hr class="fornav navpagemore">
		
		<div id="transpobus">
		<h2>Below are some of the New York City Bus Routes that stop in Ozone Park.<br> Click them for more information:</h2>
		<ul>
			<li><a href="https://en.wikipedia.org/wiki/List_of_bus_routes_in_Queens#Q7">Q7</a></li>
			<li><a href="https://en.wikipedia.org/wiki/Q8_(New_York_City_bus)">Q8</a></li>
			<li><a href="https://en.wikipedia.org/wiki/Q9_(New_York_City_bus)">Q9</a></li>
			<li><a href="https://en.wikipedia.org/wiki/Q10_(New_York_City_bus)">Q10</a></li>
			<li><a href="https://en.wikipedia.org/wiki/Q11_(New_York_City_bus)">Q11</a></li>
			<li><a href="https://en.wikipedia.org/wiki/Q21_(New_York_City_bus)">Q21</a></li>
			</ul>
			<ul>
			
			<li><a href="https://en.wikipedia.org/wiki/Q24_(New_York_City_bus)">Q24</a></li>
			<li><a href="https://en.wikipedia.org/wiki/Q37_(New_York_City_bus)">Q37</a></li>
			<li><a href="https://en.wikipedia.org/wiki/Q41_(New_York_City_bus)">Q41</a></li>
			<li><a href="https://en.wikipedia.org/wiki/Q52_SBS_(New_York_City_bus)">Q52 SBS</a></li>
			<li><a href="https://en.wikipedia.org/wiki/Q53_SBS_(New_York_City_bus)">Q53 SBS</a></li>
			<li><a href="https://en.wikipedia.org/wiki/Q112_(New_York_City_bus)">Q112</a></li>
			
			
			</ul>
		<p>he New York City Subway's IND Fulton Street Line (A train) and IND Rockaway Line (A train) also run through the neighborhood.</p>
		</div>
		
		
		
		
		<table id="panel">
		<tr><td>
		<div id="navigatepage">
			
			<h2>Where To Find...</h2>
			<h3>Looking for something in particular?</h3>
			<p>Points of Interest:<br><a href="activities.html">Check our "Activities Page"</a><br>
			Information on the Geography:<br><a href="sightsgeo.html">Check our "Geography/Location Page"</a><br>
			Famous People from the Area:<br><a href="housing.html">Check our "Housing Page"</a></p><br>
		</div></td></tr>
	
	<tr><td>
		<div id="funfacttab">
			<h2>Fun Fact About Ozone Park!😀
			</h2><h3>The structure of the Queens Borough Hall won a design award from the Queens Center Chamber of Commerce.</h3>
		
			
			</div>
		
		</td></tr>
	
			
	</table>
		</div>
	</div>
	