<div id="container">
	<hr class="fornav navpagemore">
	<div id="content">
		<div id="demogcopy">
		<h2>Ozone Park Demographics</h2>
		<h3>The following information is based on the data from the <a href ="https://en.wikipedia.org/wiki/2010_United_States_Census">2010 United States Census</a></h3>.<p> This is some of the major demographic information of this neighborhood.</p>

		<div class="zoomin">
		<img src="https://et710.com/website/jm/ozoneparkimages/completeddemog.png" width="600px" alt="demographicspiechart" class="deimg">
		</div>
		<br>
		<br>
		<br>
		<div class="zoomin">
		<img src="https://et710.com/website/jm/ozoneparkimages/demographicschart.PNG" width="600px" alt="demographicsxl">
			</div>
			
		<p>"At the turn of the 21st century immigrants from Latin America, South Asia (Bangladesh), the West Indies, and South America (Indo-Guyanese & Indo-Surinamese) moved in, adding a diverse atmosphere to the neighborhood, which is especially apparent along 101st Avenue and Liberty Avenue near the neighborhood's border with Richmond Hill.[10] The neighborhood remains largely Italian-American; however, these new arrivals have made Ozone Park become one of the fastest-growing and most ethnically diverse neighborhoods in New York City. Aside from these larger groups, there is a large Hispanic population in Ozone Park, mainly concentrated in the northern portion of the neighborhood near the Woodhaven border, and an African-American minority, spread throughout the neighborhood."</p>
		</div>
		
		
		
		
		<table id="panel">
		<tr><td>
		<div id="navigatepage">
			
			<h2>Where To Find...</h2>
			<h3>Looking for something in particular?</h3>
			<p>Housing Information:<br><a href="housing.html">Check our "Housing Page"</a><br>
			Information on the Geography:<br><a href="sightsgeo.html">Check our "Geography/Location Page"</a><br>
			Concerns for Presented Information:<br><a href="contact.html">Check our "Contact Page"</a></p><br>
		</div></td></tr>
	
	<tr><td>
		<div id="pagestips">
			<h2>Tips for Using this Page
			</h2><h3>Hover your mouse over the graphics for a better look!</h3>
		
			
			</div>
		
		</td></tr>
	
			
	</table>
		</div><!--content-->
	

	</div><!--container-->