<div id="container">

<div id="content">
	<div class="vl4"> </div>
	
	<hr class="fornav">

	
	<h2 id="activ">Fun Activities to do in/near Ozone Park </h2>
	
	

<div class="activityblock">
		<p class="activitytitle">PRO LINE ARCHERY LANES</p>
		

	<img src="https://et710.com/website/jm/ozoneparkimages/archery1.jpg" width="250px" height="250px" alt="acherypic1" class="activityimg">
	<img src="https://et710.com/website/jm/ozoneparkimages/archery2.jpg" width="250px" height="250px" alt="acherypic2" class="activityimg">
	<img src="https://et710.com/website/jm/ozoneparkimages/archery3.jpg" width="250px" height="250px" alt="acherypic3" class="activityimg">
		
		
		<h3></h3>
		<ul>
		<li class="activityrating">RATING: 4.5</li></ul>
		<p class="activitycontent">Pro Archery Lanes has been around since the mid 70s. It had been originally organized as a place for archers to get together and enjoy a game of archery. Overtime, it has grown into a family oriented business that is open to the general public.</p>
		<p class="activitycontent">This particular location is one of the most popular places to visit for a fun activity in Ozone Park. Vistitors describe the place as safe, suitable for all levels and ages, and with friendly staff.</p><br>
		<p class="activitycontent"><b>Location:</b><br>95-11 101st Ave<br>Fl 2<br>Ozone Park, NY 11416</p>
		<p class="activitycontent">For more information visit: <a href ="http://prolinearchery.com/about-us/"> prolinearchery.com</a></p>
		
		</div>

	

	<div class="activityblock">
		<p class="activitytitle">QUEENS ZOO</p>
		

	<img src="https://et710.com/website/jm/ozoneparkimages/zoo1.jpg" width="250px" height="250px" alt="zoopic1" class="activityimg">
	<img src="https://et710.com/website/jm/ozoneparkimages/zoo2.jpg" width="250px" height="250px" alt="zoopic2" class="activityimg">
	<img src="https://et710.com/website/jm/ozoneparkimages/zoo3.jpg" width="250px" height="250px" alt="zoopic3" class="activityimg">
		
		
		<h3></h3>
		<ul>
		<li class="activityrating">RATING: 4</li></ul>
		<p class="activitycontent">If you are looking for a fun, yet educational place to learn about wildlife and nature then the Queens Zoo is perfect for you. It is an 18-acre zoo with 75+ species of animals and plants. There are several programs for differnt groups. This is includes but is not limited to: Aldult Programs, Youth and Young Adults, and Children and Family Programs. </p>
		<p class="activitycontent">This particular location is one of the most popular places to visit for a fun activity in Ozone Park, especially if you want to entertain children. Vistitors describe this place as entertaining and educational. </p><br>
		<p class="activitycontent"><b>Location:</b><br>5351 11th St<br>Corona, NY 11368<br></p>
		<p class ="activitycontent"> For more information visit: <a href ="https://queenszoo.com/learn">queenszoo.com</a></p>
		
	</div>
	
	<div class="activityblock">
		<p class="activitytitle">LASER BOUNCE</p>
		

	<img src="https://et710.com/website/jm/ozoneparkimages/laser1.jpg" width="250px" height="250px" alt="laserpic1" class="activityimg">
	<img src="https://et710.com/website/jm/ozoneparkimages/laser2.jpg" width="250px" height="250px" alt="laserpic2" class="activityimg">
	<img src="https://et710.com/website/jm/ozoneparkimages/laser3.jpg" width="250px" height="250px" alt="laserpic3" class="activityimg">
		
		
		<h3></h3>
		<ul>
		<li class="activityrating">RATING: 4</li></ul>
		<p class="activitycontent">One of the most popular places to visit for some family fun is Laser Bounce. There are plenty of games and courses in this place for a day filled with fun. It even hosts parties that are fun for kids of all ages. </p>
		<p class="activitycontent">Visitors describe this place as ideal for parties, with friendly and attentive staff. </p><br>
		<p class="activitycontent"><b>Location:</b><br>80-28<br>Glendale, NY 11385<br></p>
		<p class ="activitycontent"> For more information visit: <a href ="https://laserbounce.com/">laserbounce.com</a></p>
		
	</div>
	
	
	<table id="panel">
	<tr><td><div id="navigatepage">
			<h2>Where To Find...</h2>
			<h3>Looking for something in particular?</h3>
			<p>Popular Places to Shop and Dine:<br><a href="shopdin.html">Check our "Shopping & Dining Page"</a><br>
			Landmarks:<br><a href="sightslandmarks.html">Check our "Landmarks Page"</a><br>
			</p>
		</div></td></tr>
	
	<tr><td>
		<div id="funfacttab">
			<h2>Fun Fact About Ozone Park!😀
			</h2><h3>The structure of the Queens Borough Hall won a design award from the Queens Center Chamber of Commerce.</h3>
		
			
			</div>
		
		</td></tr>
	
	</table>
	
	</div><!--content-->
</div>