<div id="container">
	
	<div id="content">
		<hr class="fornav">
		
		<h2 id="landmark">Schools in Ozone Park </h2>
		
		<div class="commerceblock">
			<h3>PS 63 Old South School</h3>
			<img src="https://et710.com/website/jm/ozoneparkimages/school1.jpg" alt="PS 63" width="300px" class="landimg">
			<p>Grades Pre-K to 5, and special edication</p>
			<p><b>School Number:</b> Q063</p>
			<p><b>Address:</b><br>90-16 Sutter Avenue <br> Queens <br>NY 11417</p>
</div>

		<div class="commerceblock">
			<h3>PS 316 Queens Explorers Elementary </h3>
			<img src="https://et710.com/website/jm/ozoneparkimages/school2.jpg" alt="PS 316" width="300px" class="landimg">
			<p>Grades Pre-K to 5, and special education</p>
			<p><b>School Number:</b> Q316</p>
			<p><b>Address:</b><br>90-07 101st Ave<br> Queens<br>NY 11416</p>

</div>
		<div class="commerceblock">
			<h3>St Elizabeth's RC Elementary</h3>
			<img src="https://et710.com/website/jm/ozoneparkimages/school3.jpg" alt="SERE" width="300px" class="landimg">
			<p>Private/Catholic School. Serves from nursey age to eighth grade</p>
			<p><b>Address:</b><br>94-01 85th Street <br>Ozone Park <br>NY 11416</p>	
</div>
		<table id="panel">
		<tr><td>
		<div id="navigatepage">
			
			<h2>Where To Find...</h2>
			<h3>Looking for something in particular?</h3>
			<p>Points of Interest:<br><a href="activities.html">Check our "Activities Page"</a><br>
			Information on the Geography:<br><a href="sightsgeo.html">Check our "Geography/Location Page"</a><br>
			How To Get Around the Neighborhood:<br><a href="transpo.html">Check our "Transportation Page"</a></p><br>
		</div></td></tr>
	
	<tr><td>
		<div id="funfacttab">
			<h2>Tips for Using this Page
			</h2><h3>There are more schools here! To find out more visit <a href="https://en.wikipedia.org/wiki/Ozone_Park,_Queens#Education">here.</a></h3>
		</div>
		
		</td></tr>
	
			
	</table>
		</div>
	</div>